{% extends 'hotel/base.html' %}
{% load static %}

{% block content %}

{% include 'hotel/header.html' %}

<!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="">Home</a>
                            <span>Available Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                {% if rooms %}
                {% for room in rooms %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{{room.image.url}}" alt="">
                        <div class="ri-text">
                            <h4>{{room.room_type.types}}</h4>
                            <h3>{{room.price}}<span>/Per Night</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max Persion {{room.capacity}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>{{room.beds}} Beds</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#">Booking Now</a>
                            <a href="" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h3 class='text-danger'>No Room Available. Check Other Dates</h3>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Booking Your Hotel</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                {% comment %} <input type="text" class="date-input" id="date-in"> {% endcomment %}
                                {{form.check_in}}
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                {{form.check_out}}
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Guests:</label>
                                {{form.people}}
                            </div>
                            <div class="select-option" id="id_room_number" >
                                <label for="id_room_number">Beds:</label>
                                {{form.beds}}
                            </div>
                            <button type="submit">Check Availability</button>
                        </form>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->
    {% include 'hotel/footer.html' %}

    {% endblock content %}
