{% load static %}

<!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> +(234) 80 9999 1255</li>
                            <li><i class="fa fa-envelope"></i> management@freshkom4thotel.ng</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn">Booking Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="">
                                <img src="{% static 'img/fresh.svg' %}" height="40px"  alt="" class="mt-o pt-o">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="{% url 'hotel:homepage' %}">Home</a></li>
                                    <li><a href="{% url 'hotel:all-rooms' %}">Rooms</a></li>
                                    {% if request.user.is_superuser or request.user.is_staff %}
                                        <li><a class='text-danger' href="{% url 'hotel:dashboard' %}">My Dashboard</a></li>
                                    {% elif request.user.is_authenticated %}
                                        <li><a href="{% url 'hotel:booking-list' %}">Reservation Lists</a></li>
                                        <li><a href="{% url 'hotel:payment-records' %}">Payment Records</a></li>
                                        <li><a class='text-danger' href="{% url 'accounts:logout' %}">Logout</a></li>
                                    {% else %}
                                        <li><a class='text-success' href="{% url 'accounts:login' %}">Login</a></li>
                                        <li><a class='text-primary' href="{% url 'accounts:signup' %}">Signup</a></li>
                                    {% endif %}
                                        <li><a href="{% url 'hotel:contact-us' %}">Contact Us</a></li>
                                    {% if request.user.is_superuser %}
                                        <li><a class='text-danger' href="{% url 'accounts:logout' %}">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
