{% extends 'reg.html' %}

{% load static %}

{% block content %}
<style>
    .paystack-btn{
        color: rgb(255,255,255);
        background-color: rgb(0, 183, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem 1rem;
        max-width: 30rem;
        margin-inline: auto;
        border-radius: 15px;
       font-size: min(1.5rem,10vh);
    }
</style>
{% comment %}
<section class="hero-section"> {% endcomment %}
  <div class="container d-flex justify-content-center">
    <button class="paystack-btn" onclick="payWithPaystack()">
        <svg width="612" height="602" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)" fill="#0BA4DB">
                <path
                    d="M548.416 0H31.792C14.306 0 0 14.333 0 31.852v57.333c0 17.519 14.306 31.852 31.792 31.852h515.034c17.486 0 31.792-14.333 31.792-31.852V31.852C580.208 14.333 565.901 0 548.416 0zM548.416 320.111H31.792C14.306 320.111 0 334.444 0 351.963v57.333c0 17.519 14.306 31.852 31.792 31.852h515.034c17.486 0 31.792-14.333 31.792-31.852v-57.333c1.59-17.519-12.717-31.852-30.202-31.852zM322.691 480.963H31.792C14.306 480.963 0 495.296 0 512.815v57.333C0 587.667 14.306 602 31.792 602h290.899c17.486 0 31.792-14.333 31.792-31.852v-57.333c0-17.519-14.306-31.852-31.792-31.852zM580.208 160.852H31.792C14.306 160.852 0 175.185 0 192.703v57.334c0 17.518 14.306 31.852 31.792 31.852h548.416c17.486 0 31.792-14.334 31.792-31.852v-57.334c0-17.518-14.306-31.851-31.792-31.851z" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <path fill="#fff" d="M0 0h612v602H0z" />
                </clipPath>
            </defs>
        </svg>
        <span>Pay with paystack</span>
    </button>
      <!-- <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-xl-4 col-lg-4 offset-xl-4 offset-lg-1">
              <div class="booking-form">
                  <h3 class="">Make Payment for </h3>
                  <form id="paymentForm">
                    <div class="form-submit">
                        <button type="submit" onclick="payWithPaystack()"> Pay ₦{{booking.get_total_amount}}
                            <i class="bi-credit-card"></i>
                        </button>
                    </div>
                </form>
          </div>
          </div>
      </div> -->
  </div>
{% comment %} </section> {% endcomment %}


<script src="https://js.paystack.co/v2/inline.js"></script>

<script>
    
    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(e) {
    e.preventDefault();

    let handler = PaystackPop.setup({
        key: {{paystack_public_key}}, // Replace with your public key
        email: {{request.user.email}},
        amount: {{booking.get_total_amount}} * 100,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function(){
        alert('Window closed.');
        },
        callback: function(response){
        let message = 'Payment complete! Reference: ' + response.reference;
        alert(message);
        }
    });

    handler.openIframe();
    }

</script>

{% endblock content %}
