{% extends 'reg.html' %}

{% load static %}

{% block content %}
<style>
    .paystack-btn{
        color: rgb(255,255,255);
        background-color: rgb(0, 183, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem 1rem;
        max-width: 30rem;
        margin-inline: auto;
        border-radius: 15px;
       font-size: min(1.5rem,10vh);
    }
</style>
{% comment %}
<section class="hero-section"> {% endcomment %}
  <div class="container d-flex justify-content-center">
    <button class="paystack-btn" onclick="payWithPaystack()">
        <div style="max-height: 2rem;">

            <img src='{% static "img/paystack.svg"  %}' style="max-width: 4rem;" />
    </div>
        <span>Pay with paystack</span>
    </button>
      <!-- <div class="row">
          <div class="col-lg-6">
        </div>
          <div class="col-xl-4 col-lg-4 offset-xl-4 offset-lg-1">
              <div class="booking-form">
                  <h3 class="">Make Payment for </h3>
                  <form id="paymentForm">
                    <div class="form-submit">
                        <button type="submit" onclick="payWithPaystack()"> Pay ₦{{booking.get_total_amount}}
                            <i class="bi-credit-card"></i>
                        </button>
                    </div>
                </form>
          </div>
          </div>
      </div> -->
  </div>
{% comment %} </section> {% endcomment %}


<script src="https://js.paystack.co/v2/inline.js"></script>

<script>
    
    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(e) {
    e.preventDefault();

    let handler = PaystackPop.setup({
        key: {{paystack_public_key}}, // Replace with your public key
        email: {{request.user.email}},
        amount: {{booking.get_total_amount}} * 100,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function(){
        alert('Window closed.');
        },
        callback: function(response){
        let message = 'Payment complete! Reference: ' + response.reference;
        alert(message);
        }
    });

    handler.openIframe();
    }

</script>

{% endblock content %}
