.hero-title{
    font-size:4rem  !important;
    font-family: "Cabin", sans-serif;

  }
  .gallery{
    display: flex;
    gap: 2rem;
  }
  .gallery > * {
    flex-grow: 1;
  }
  .hp-room-items{
    max-width: 1170px;
    margin-inline:auto ;
  }
  .hp-room-item{
    font-family: "Cabin", sans-serif;
    display: flex;
    flex-direction: column;
    
  }
  .hp-room-img{
    min-height: 20rem;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.hp-room-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .hp-room-place, .hp-room-rating{
  
   color: #111;
   font-weight: 600;
  }
  .hp-room-rating{
    display: flex;
    align-items: center;
  }
  .hp-room-duration{
    color: #aaa;
  }
  .hp-room-pay,
  .hp-room-book{
    
    cursor: pointer;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
    padding: .3rem 1rem;
    gap: .4rem;
    transition: all 250ms ease-out ;
  }
  .hp-room-pay{
    background-color: #111 ;
    color: #fff;
    
  }
 .hp-room-book{
  border: #111 2px solid;
  color: #111;
 }
 .hp-room-info_container{
    margin-bottom: .6rem;
 }
 .hp-room-pay:hover{
     color: #fff;
     translate: 0px -3px;
    }
    .hp-room-book:hover{
       color: #111;
       translate: 0px -3px;
      }
      .hp-room-actions_btn{
        display: flex;
        flex-direction: column;
        gap: .6rem;
      }
  @media (max-width: 768px){
  .hero-title{
    font-size: 2rem !important;
    text-align: center;
    font-family: "Cabin", sans-serif;
  }
  .gallery{
    gap: 1rem;
  }
  }
@media (max-width: 400px){
.gallery{
flex-direction: column;
}
}