{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-md-12 col-lg-6 order-2 mb-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="card-title m-0 me-2">Deposit Record</h5>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="transactionID"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="bx bx-dots-vertical-rounded"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
          <a class="dropdown-item" href="{% url 'investicon:deposit-records' %}">All Deposits</a>
          <a class="dropdown-item" href="{% url 'investicon:create-deposit' %}">Deposit Now</a>
          {% comment %} <a class="dropdown-item" href="javascript:void(0);">Last Year</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="card-body">
      {% if dep_records %}
      <ul class="p-0 m-0">
        {% for data in dep_records %}
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <img src="{% static 'assets/img/icons/unicons/wallet.png' %}" alt="User" class="rounded" />
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <small class="text-muted d-block mb-1">{{data.trx}}</small>
              <h6 class="mb-0">{{data.status}}</h6>
            </div>
            <div class="user-progress d-flex align-items-center gap-1">
              <h6 class="mb-0">+{{data.amount}}</h6>
              <span class="text-muted">USD</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white mb-3">
          <div class="card-header">No Withdrawal Record Found</div>
          <div class="card-body">
            <p class="card-title text-white">Click the button send Withdrawal Request</p>
            <a href="{% url "investicon:create-deposit" %}" class="btn btn-sm btn-outline-light">Withdraw Now</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>


<div class="col-md-12 col-lg-6 order-2 mb-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="card-title m-0 me-2">Withdrawal</h5>
      <div class="dropdown">
        <button
          class="btn p-0"
          type="button"
          id="transactionID"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="bx bx-dots-vertical-rounded"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
          <a class="dropdown-item" href="{% url 'investicon:withdrawal-records' %}">All Withdrawal</a>
          <a class="dropdown-item" href="{% url 'investicon:create-withdrawal' %}">Withdraw Now</a>
          {% comment %} <a class="dropdown-item" href="javascript:void(0);">Last Year</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="card-body">
      {% if wid_records %}
      <ul class="p-0 m-0">
        {% for data in wid_records %}
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <img src="{% static 'assets/img/icons/unicons/wallet.png' %}" alt="User" class="rounded" />
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <small class="text-muted d-block mb-1">{{data.trx}}</small>
              <h6 class="mb-0">{{data.status}}</h6>
            </div>
            <div class="user-progress d-flex align-items-center gap-1">
              <h6 class="mb-0">-{{data.amount}}</h6>
              <span class="text-muted">USD</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white mb-3">
          <div class="card-header">No Withdrawal Record Found</div>
          <div class="card-body">
            <p class="card-title text-white">Click the button send Withdrawal Request</p>
            <a href="{% url "investicon:create-deposit" %}" class="btn btn-sm btn-outline-light">Withdraw Now</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
