{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'dashboard/main-cards.html' %}

<div class="card">
    <h5 class="card-header text-center">Contacts</h5>
    {% if contacts %}
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Created</th>
            <th>Status</th>
            <th>Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for contact in contacts %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{contact.name|title}}</strong></td>
            <td>{{contact.email}}</td>
            <td>{{contact.subject}}</td>
            <td>{{contact.message}}</td>
            <td>{{contact.created}}</td>
            {% if contact.status == "PENDING" %}
                <td><span class="badge bg-label-primary me-1">Pending</span></td>
            {% elif contact.status == "REPLIED" %}
                <td><span class="badge bg-label-success me-1">REPLIED</span></td>
            {% else %}
                <td><span class="badge bg-label-danger me-1">SETTLED</span></td>
            {% endif %}
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href=""
                    ><i class="bx bx-edit-alt me-1"></i> Reply</a
                  >
                  <a class="dropdown-item" href=""
                    ><i class="bx bx-trash me-1"></i> View Room Record</a
                  >
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="card mb-4">
      <div class="card-header text-center">
        No Complaint Posted
      </div>
      <div class="card-body">
        <h5 class="card-title text-center text-danger">There are presently no messages in your mail Dashboard!</h5>
        <div  class=" row d-flex justify-content-center align-content-center ">
          <a href="{% url 'hotel:dashboard' %}" class="btn btn-success">Back to Dashboard</a>
        </div>
      </div>
    </div>
    <br>
    {% endif %}
  </div>
{% endblock content %}
