{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'dashboard/main-cards.html' %}
<h5 class="pb-1 mb-4">Guest Detail</h5>
<div class="row mb-5">
  {% for room in rooms %}
  <div class="col-md-6 col-xl-4 my-2">
    <div class="card mb-3">
      <img class="card-img-top" src="{{room.image.url}}" height="300px" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title text-primary">{{room.room_type.types}} {{room.room_number}}</h5>
        <p class="card-text">
            {{room.description|truncatewords:30}}
        </p>
        <p class="card-text">
          {% if room.is_available %}
            <a href="#" class="ml-2 btn btn-sm btn-outline-primary">Available</a>
          {% else %}
            <a href="#" class="ml-2 btn btn-sm btn-outline-danger">Booked</a>
          {% endif %}
        </p>

      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock content %}
