{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'dashboard/main-cards.html' %}
{% include 'messages.html' %}

<h5 class="pb-1 mb-4">All Rooms</h5>
<div class="row mb-5">
  {% for room in rooms %}
  <div class="col-md-6 col-xl-4 my-2">
    <div class="card mb-3">
      <img class="card-img-top" src="{{room.image.url}}" height="300px" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title text-primary">{{room.room_type.types}} {{room.room_number}}</h5>
        <p class="card-text">
            {{room.description|truncatewords:30}}
        </p>
        <p class="card-text text-right">
          {% if room.is_available %}
            <a href="" class="ml-2 text-left btn btn-sm btn-outline-primary">Available</a>
          {% else %}
            <a href="" class="ml-2 text-left btn btn-sm btn-outline-danger">Booked</a>
          {% endif %}
            <a href="{% url 'hotel:update-room' room.slug %}" class="ml-2 text-right btn btn-sm btn-outline-primary">Update Room</a>
        </p>
      </div>
    </div>
</div>
{% endfor %}
</div>

<!-- Breadcrumb Section Begin -->
    <div class="col-lg-12">
        <div class="room-pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next Page</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
