{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'dashboard/main-cards.html' %}
<div class="card">
  {% if staffs %}
    <h5 class="card-header">Staff List</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Staff Name</th>
            <th>Date Joined</th>
            <th>Phone Number</th>
            <th>Salary Expectation</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for staff in staffs %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{staff.firstname|title}} {{staff.lastname|title}} </strong></td>
            <td>{{staff.date_joined}}</td>
            <td>{{staff.phone_number}}</td>
            <td>{{staff.check_out}}</td>
            <td>{{staff.room}}</td>
            {% if staff.is_active %}
                <td><span class="badge bg-label-success me-1">Active</span></td>
            {% else %}
                <td><span class="badge bg-label-danger me-1">In Active</span></td>
            {% endif %}
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{staff.get_absolute_url}}"
                    ><i class="bx bx-edit-alt me-1"></i> Update Staff Profile</a
                  >
                  <a class="dropdown-item" href=""
                    ><i class="bx bx-trash me-1"></i> Remove Staff</a
                  >
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="card mb-4">
      <div class="card-header text-center">
        No Room Booked
      </div>
      <div class="card-body">
        <h5 class="card-title text-center text-danger">Unfortunately, You have no room booked!</h5>
        <p class="card-text text-center">You can Proceed to Check Available rooms for booking.</p>
        <div  class=" row d-flex justify-content-center align-content-center ">
          <a href="#" class="btn btn-success">Check Rooms</a>
        </div>
      </div>
    </div>
    <br>
    {% endif %}
  </div>
{% endblock content %}
