{% extends 'investicon/dashboard.html' %}

{% load static %}

{% block content %}
<div class="card">
    <h5 class="card-header">Withdrawal records</h5>
    <div class="table-responsive text-nowrap">
      {% include 'messages.html' %}
      {% if withdrawal %}
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Owner</th>
            <th>Amount</th>
            <th>Transaction Id</th>
            <th>Status</th>
            <th>Receiving Wallet</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for data in withdrawal  %}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{data.user.firstname|title}} {{data.user.lastname|title}}</strong></td>
            <td> ${{data.amount}} </td>
            <td>{{data.trx}}</td>
            <td>
              {% if data.status == "Successful" %}
                <span class="badge bg-label-primary me-1">{{data.status}}</span></td>
              {% else %}
                <span class="badge bg-label-warning me-1">{{data.status}}</span></td>
              {% endif %}
            </td>
            <td>
              {{profile.btc_wallet}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white mb-3">
          <div class="card-header">No Withdrawal Record Found</div>
          <div class="card-body">
            <p class="card-title text-white">Click the button below to send a Withdrawal Request</p>
            <a href="{% url "investicon:create-withdrawal" %}" class="btn btn-sm btn-outline-light">Request Withdrawal</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock content %}
